@import "~taro-ui/dist/style/components/message.scss";

.container {
  padding-top: 0.01px;
  text-align: center;
}
.hover {
  transform: scale(0.8);
}
.scan_wrapper {
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 60px;
  margin: 300px auto 0;
  border: solid 2px #248ffe;
  background-color: #ffffff;
  box-sizing: border-box;
}

.scan_wrapper::before {
  content: "";
  position: absolute;
  top: 75px;
  left: -4px;
  width: 506px;
  height: 150px;
  background-color: #ffffff;
}

.scan_wrapper::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 50%;
  width: 300px;
  height: 306px;
  transform: translateX(-50%);
  background-color: #ffffff;
}

.round {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: solid 1px #248ffe;
}

.round_1 {
  width: 280px;
  height: 280px;
}

.round_2 {
  width: 180px;
  height: 180px;
}

.round_3 {
  z-index: 2;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 36px;
  text-align: center;
  border: none;
  color: #ffffff;
}

.round_3 {

  button {
    padding: 0;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 36px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    background-color: #248ffe;
    //&:active {
    //  transition: all 0.3s ease-in-out;
    //  animation-delay:2s;
    //  transform: scale(0.8);
    //}
  }
}
.notice {
  margin-top: 60px;
  .text {
    font-size: 30px;
    margin: 60px 0 0 0;
    text-align: center;
    color: #357ff9;
  }
}

.notice_2 {
  margin: 180px;
}
