/* pages/cropper/cropper.wxss */
._ok{
  width: 100vw;
  height: 70px;
}
.top{
  position: absolute;
  width:100%;
  top:10px;
  display: flex;
  flex-flow:wrap;
  z-index: 10;
  color:white;
  justify-content:space-around;
}
.hint{
  position: absolute;
  top:10px;
  width:100%;
  font-size: 33px;
  text-align: center;
  color:white;
  z-index: 10;
}
page{
  background:rgb(14, 13, 13);
}
view{
  font-size: 30px;
}
.bottom{
  position: absolute;
  width:100%;
  bottom:50px;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  height: 210px;
}
button{
  font-size:27px;
  z-index:2;
  padding:0 20px;
  height:60px;
  min-width:70px;
  margin:0 4px;
}
.input{
  display: flex;
  height: 50px;
  width:50%;
}
.input>.label{
  min-width:150px;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
}
.input>input{
  margin-left:10px;
  text-align: center;
  max-width:160px;
  border:1px solid rgb(255, 255, 255);
  height: 50px;
  line-height: 50px;
  min-height: 50px;
  box-sizing: border-box;
}
