@import "~taro-ui/dist/style/components/message.scss";
.indexContent{

  width: 100vw;
  .contentWrap{
    width: 100vw;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    box-sizing: border-box;
    .blue,.green{
      width: 288px;
      height: 224px;
      display: flex;
      align-items: center;
      justify-content: center;
      .text{
        color: #fff;
        font-size: 34px;
      }
    }
    .blue{
      background: rgba(26, 166, 238, 1);
    }
    .green{
      background:rgba(40, 155, 148, 1);
    }
  }

}
